/dist
/node_modules
/build
/back/dist
/back/node_modules
/back/build
/vue-project/dist
/vue-project/node_modules
/vue-project/build


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# vuepress build output
.vuepress/dist

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
