@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    overflow: auto;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5; /* plus c'est proche de 0, plus c'est transparente */
    z-index: -1;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
